MYSQL_ROOT_PASSWORD=
MYSQL_URL=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_HOST_PORT=3306
MYSQL_CONTAINER_PORT=3306

VALKEY_HOST=
VALKEY_PASSWORD=
VALKEY_HOST_PORT=6379
VALKEY_CONTAINER_PORT=6379

SERVER_ADDRESS=localhost
SERVER_PORT=8080
SERVER_MANAGEMENT_PORT=8081

CORS_ALLOWED_ORIGIN=

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_PLACES_API_KEY=
GOOGLE_IDP_TOKEN_REDIRECT_URL=

JWT_ISSUER=
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=
JWT_REFRESH_TOKEN_EXPIRATION_SECONDS=