OAUTH2_GOOGLE_CLIENT_ID=
OAUTH2_GOOGLE_CLIENT_SECRET=
OAUTH2_GOOGLE_REDIRECT_URI=

MYSQL_ROOT_PASSWORD=
MYSQL_URL=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_HOST_PORT=3306
MYSQL_CONTAINER_PORT=3306

VALKEY_HOST=
VALKEY_PASSWORD=
VALKEY_HOST_PORT=6379
VALKEY_CONTAINER_PORT=6379

SERVER_ADDRESS=localhost
SERVER_PORT=8080
SERVER_MANAGEMENT_PORT=8081